<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      </head>
     <body>
    {% for msg in messages %}
    {{msg}}
    {% endfor %}
    
<div class="container">
    <div class="row">
        {% for users in users %}
        <div class="col-sm-4">
            <td>
                <p><a href="{% url 'app1:details' users.id %}">
                    <img src="{{users.Photo.url}}" alt="" height="150px" width="150px">
                </a></p>
                <p style="text-align: left;">{{users.Name}}</p>
            </td>
</div>
{% endfor %}
</body>
</html>