<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for msg in messages %}
    {{msg}}
    {% endfor %}
    <br>
    {{users.Name}}
    <br>
    {{users.Email}}      
    <br>
       <img src="{{users.Photo.url}}" alt="" height="150px" width="150px">
    <br>
    <a href="{% url 'app1:update' users.id %}">UPDATE</a>
    <a href="{% url 'app1:logout' %}">LOGOUTS</a>

</body>
</html>